.title{
    display: flex;
    justify-content: center;
    width: 100%;
}
.game-area{
    width: 100%;
    justify-content: center;
}
.column{
    display: flex;
    justify-content: center;
    width: 100%;
}
.click{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.pressed{
    background-color: grey;
}
